*{
    padding: 0% 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body{
    background-image:url(https://www.xtrafondos.com/wallpapers/colores-en-ondas-en-movimiento-5961.jpg);
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0% 3%;
}

header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    background: rgba(28, 53, 56, 0.89);
    width: 30%;
    text-align: center;
}
nav{
    background: rgba(28, 53, 56, 0.89);
    width: 70%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.menu > li {
    float:left;
    font-size: 18px;
}

.menu li a {
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    display:block;
}
.men{
    font-size: 23px;
}

.menu li a:hover {
    background-color:#43434396;
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);   
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
}

.menu li ul li ul {
    right:-140px;
    top:0px;
}
li ul li a{
    background: rgba(52, 52, 52,0.8);
}




main{
    background: rgba(248, 234, 241, 0.808);
    width: 70%;
    padding: 8px;

}
main a{
    color: rgb(39, 38, 38);
}
main h2{
    padding: 2%;
}
main h3{
    padding: 2%;
    font-size: 22px;
}
main p{
    padding: 2%;
}
main ul p{
    
    border: 5px solid transparent;

    -moz-border-image: -moz-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image: linear-gradient(to right, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);

    border-image-slice: 1;
    
}
ul{
    list-style-type: none;
    
}
main ul{
    padding: 2%;
}
main li{
    padding: 1%;
    font-size: 20px;
    background: #FEAC5E;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);

    
    
}
a:hover{
    color: rgb(219, 78, 78);
    
}
a{
    text-decoration: none;
}


aside{
    background: rgba(204, 230, 222, 0.877);
    width: 30%;
    padding: 8px;
    border-left: 5px black solid;
    
}

aside h1{
    padding: 5%;
    
}
aside h3{
    padding: 5%;
    
}
aside p{
    padding: 1% 8%;
    font-size: 20px;
}
.img{
    text-align: center;
}
footer{
    background: rgba(22, 21, 22, 0.925);
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    
}
footer h3{
    font-size: 20px;
    
}
footer li{
    font-size: 18px;
    padding: 10px 0px 0px 15px;
}
footer a{
    color: rgb(209, 185, 185);
}
.op1 h3{
    color: rgb(248, 97, 51);
}
.op2 h3{
    color: rgb(248, 97, 51);
}
.op3 h3{
    color: rgb(248, 97, 51);
}
.op1{
    padding: 30px 50px;
    
}
.op2{
    padding: 30px 50px;
}
.op3{
    padding: 30px 50px;
}
footer div h3{
    color: rgb(202, 194, 194);
}
footer div li{
    color: rgb(228, 222, 222);
}



@media screen and (max-width: 800px) {
    main{
        
        width: 70%;
    }
    aside{
        
        width: 30%;
        
    }
    .logo{
        width: 100%;
    }
    nav{
        width: 100%;
        justify-content: center;
        
    }
}
@media screen and (max-width: 400px) {
    main{
        
        width: 100%;
    }
    aside{
        
        width: 100%;
        
    }
    main h2{
        font-size: 18px;
    }
    main h3{
        font-size: 16px;
    }
    main p{
        font-size: 15px;
    }
}
