*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;   
}

 /*............Header..............*/
 
header{
    background-image:url(https://images.pexels.com/photos/314860/pexels-photo-314860.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: -200px;
    background-attachment: fixed;
    position: relative;
    /*........................*/

    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ::before{
    content: '';
    position: absolute;
    bottom: -105px;
    left: 0px;
    width: 99.85%;
    height: 150px;
    background-color: rgba(10, 37, 156, 0.507);
    transform: rotate(2deg);
    opacity: 0.1;
}
header ::after{
    content: '';
    position: absolute;
    bottom: -128px;
    left: 0px;
    width: 99.85%;
    height: 150px;
    background-color: #e4e0a4;
    transform: rotate(2deg);
    
}
.logo{
    
    width: 35%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

nav{
    
    width: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    
}
.menu{
    color: #cfcfcf;
    padding: 32px;
}
.menu a:hover{
    font-size: 25px;
    transition: all ease 0.5s;
    transform: scale(1.1) translateY(-5px);
}
.menu a{
    text-decoration: none;
    color: #f2f3efd3;
    font-size: 22px;
}

/*...............Main................*/

main{
    
    background: #e3dfa3;
    width: 100%;
    
}

h2{
    text-align: center;
    padding: 22px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    
}
.c1{
    color: #4BC0C8;
}
.c2, .c6, .c7{
    color: #22af15;
}
.c3, .c5{
    color: #c20707;
}
.c4, .c8, .c9{
    color: #ee2b2b;
}


.departamento{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imgen{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img:hover{
    transition: all ease 0.5s;
    transform: scale(1.02) translateY(-2px);
}

img{
    width: 100%;
    border-radius: 18px;
}
.conten{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.conten h3{
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #042158;
    font-family: 'Work Sans', sans-serif;
}
div.par1{
    background: #e4e0a4;
    padding: 20px;
    width: 45%;
    font-family: 'Work Sans', sans-serif;

    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image: linear-gradient(to right, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image-slice: 1;
}

/*..............Aside...............*/
aside{
    background: #e4e0a4;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Work Sans', sans-serif;
}
.contac{
    background: #070b1d;
    width: 40%;
    padding: 20px;
    justify-content: center;
    
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image: linear-gradient(to right, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image-slice: 1;
}
.ubic{
    background: #070b1d;
    width: 40%;
    padding: 20px;

    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image: linear-gradient(to right, #4BC0C8 0%, #C779D0 50%, #FEAC5E 100%);
    border-image-slice: 1;
}
.contac h2{
    
    color: #4BC0C8;
    
}
.ubic h2{
    
    color: #C779D0;
    
}

.contac p, .ubic p{
    color: #cfcfcf;
    font-size: 22px;
    text-align: center;
}





/*............footer..............*/
footer{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.men{
    background: rgba(7, 11, 29, 0.918);
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer h3{
    font-size: 20px;
    
}
footer li{
    font-size: 18px;
    padding: 10px 0px 0px 15px;
    list-style: none
}
footer a{
    color: rgb(221, 202, 202);
    font-size: 18px;
}
.op1 h3{
    color: #4BC0C8;
}
.op2 h3{
    color: rgb(230, 138, 240) ;
}
.op3 h3{
    color: #feac5e;
}
.op1{
    padding: 30px 50px;
    
}
.op2{
    padding: 30px 50px;
}
.op3{
    padding: 28px 46px;
}
footer div h3{
    color: rgb(202, 194, 194);
}
footer div li{
    color: rgb(228, 222, 222);
}

.autor{
    background: rgba(7, 11, 29, 0.918);
    width: 100%;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.autor h3{
    font-size: 16px;
}



/*...............Carrusel..............*/

.contenedor{
    width: 80%;
    
    
}
.slider .item{
    background-color: #e4e0a4;
    box-shadow: 0 4px 5px #cfcfcf;
    border-radius: 8px;
    padding: 12px 5px;
    border: 3px solid rgba(50, 82, 221, 0.397);
    text-align: center;
    
    
    
}
.slider{
    left: 130px;
    top: 45px;
}
.slick-trak{
    width: 150px;
}

a{
    text-decoration: none;
    color: #f07a1ad3;
    font-size: 25px;
}

.slider .slick-slide{
    margin: 5px;
}
.slick-dots li.slick-active button::before{
    color: rgb(185, 92, 64);
}
.slick-dots li button::before{
    font-size: 16px;
}
.slick-next::before,
.slick-prev::before{
    color: rgb(255, 129, 89);
    font-size: 20px;
}
.item :hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}


/*.................MediaQ....................*/
@media screen and (max-width: 1200px) {
    header{
        background-position-y: 0px;
    }
}
@media screen and (max-width: 800px) {
    header{
        height: 340px; 
        background-position-y: 0px;
    }
    .logo{
        
        width: 100%;
    }
    .logo img{
        width: 350px;
    }
    nav{
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .slider{
        left: 80px;
        top: 30px;
    }
    .slick-trak{
        width: 80%;
    }
    a{
        
        font-size: 18px;
    }
    
    .imgen{
        width: 100%;
        order: 1;
        
    }
    .conten{
        width: 100%;
        order: 2;

    }
    .men{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .autor{
        width: 100%;
        justify-content: center;
    }
    .menu{
        padding: 8px;
        padding: 30px;
    }
    .autor h3{
        font-size: 12px;
    }
    .menu a:hover{
        font-size: 18px;
    }
    
    header ::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 0;
        height: 0;
        background-color: rgba(51, 82, 222, 0.396);
        transform: rotate(0deg);
        opacity: 0.4;
    }
    header ::after{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        height: 0;
        background-color: #e4e0a4;
        transform: rotate(0deg);
        
    }
    aside{
        flex-direction: column;
        align-items: center;
    }
    .contac{
        width: 70%;
    }
    .ubic{
        width: 70%;
    }

}

@media screen and (max-width: 600px) {
    .slider{
        left: 47px;
        top: 30px;
    }
    .slick-trak{
        width: 70%;
    }

    .menu{
        padding: 8px;
    }
    .autor h3{
        font-size: 12px;
    }
    .menu a:hover{
        font-size: 15px;
    }

    .contenedor{
        width: 76%;
        
    }
    div.par1{
        padding: 10px;
        width: 100%;
    }
    .par1 p{
        font-size: 15px;
    }
    h2{
        padding: 18px;
        font-size: 25px;
        
    }

    
}

@media screen and (max-width: 450px) {

    .menu{
        padding: 10px;
    }
    .menu a:hover{
        font-size: 15px;
    }
    .contac{
        width: 85%;
    }
    .ubic{
        width: 85%;
    }
    .contac p, .ubic p{
        font-size: 18px;
    }
}
