a{
    color: white;
}
header{
    background: rgb(27, 27, 27);
    color: white
}
.foot{
    background: rgb(27, 27, 27);
    color: white;
    width: 101.5%;
}
aside{
    text-align: center;
}
.pr{
    background: #4bc0c8ce ;
    text-align: center;
}
.sg{
    background: #c779d0d0;
    text-align: center;
}
.tr{
    background: #feab5ed0;
    text-align: center;
}
/*.wit{
    background: rgb(15, 8, 36);
    color: white;
    text-align: center;
    border-radius: 16px;
}
.wit1{
    background: #4bc0c8ce;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.wit2{
    background: #c779d0d0;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.wit3{
    background: #feab5ed0;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}*/
.ft{
    align-items: center;
}

.autor h3{
    font-size: 14px;
    
    
}
.sitio h4, .sitio p{
    
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.espacio1{
    background-color: #4bc0c82c;
    
}
.espacio2{
    background-color: #c779d02c;
    
}.espacio3{
    background-color: #feab5e2c;
    
}
.ft1{
    
    padding: 20px 35px;
    text-align: center;
}
.boto{
    background-color: #47bec7;
}
.boto1{
    background-color: #a967b1;
}
.boto2{
    background-color: #fc9a3e;
}

.ft1 li a{
    
    text-decoration: none;
}
.ft1 ul li{
    color: rgb(221, 202, 202);
    list-style-type: none;
}
.autor{
    text-align: center;
    padding: 10px;
}
.cor1{
    color: #47bec7;
}
.cor2{
    color: #a967b1;
}
.cor3{
    color: #fc9a3e;
}
li .hob1:hover{
    color: #47bec7;
}
li .hob2:hover{
    color: #a967b1;
}
li .hob3:hover{
    color: #fc9a3e;
}