*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    
}

header{
    background-image:url(https://images.pexels.com/photos/314860/pexels-photo-314860.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: -200px;
    background-attachment: fixed;
    position: relative;
    /*........................*/

    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ::before{
    content: '';
    position: absolute;
    bottom: -105px;
    left: 0px;
    width: 99.85%;
    height: 150px;
    background-color: rgba(50, 82, 221, 0.397);
    transform: rotate(2deg);
    opacity: 0.4;
}
header ::after{
    content: '';
    position: absolute;
    bottom: -128px;
    left: 0px;
    width: 99.85%;
    height: 150px;
    background-color: #e4e0a4;
    transform: rotate(2deg);
    
}
.logo{
    
    width: 35%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.logo h3{
    font-size: 25px;
    color: white;
}
nav{
    
    width: 65%;
    align-items: center;
}
main{
    
    


    background: #e4e0a4;
    width: 100%;
    height: 600px;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

footer{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.men{
    background: rgba(32, 32, 31, 0.897);
    width: 70%;
    align-items: center;
}
.autor{
    background: rgba(32, 32, 31, 0.897);
    width: 30%;
    align-items: center;
}




/*...............................*/




.contenedor{
    width: 80%;
    height: 80px;
    
}
.slider .item{
    background-color: #e4e0a4;
    box-shadow: 0 4px 5px #cfcfcf;
    border-radius: 8px;
    padding: 12px 5px;
    border: 3px solid rgba(50, 82, 221, 0.397);
    text-align: center;
    
    
    
}
.slider{
    left: 130px;
    top: 45px;
}
.slick-trak{
    width: 150px;
}

a{
    text-decoration: none;
    color: rgba(240, 122, 26, 0.829);
    font-size: 25px;
}

.slider .slick-slide{
    margin: 5px;
}
.slick-dots li.slick-active button::before{
    color: #b95c40;
}
.slick-dots li button::before{
    font-size: 16px;
}
.slick-next::before,
.slick-prev::before{
    color: #ff8159;
    font-size: 20px;
}
.item :hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}