a{
    color: white;
}
header{
    background: rgb(27, 27, 27);
    color: white
}
.foot{
    background: rgb(27, 27, 27);
    color: white;
    width: 101.5%;
}
aside{
    text-align: center;
}
.pr{
    background: #4bc0c8ce ;
    text-align: center;
}
.sg{
    background: #c779d0d0;
    text-align: center;
}
.tr{
    background: #feab5ed0;
    text-align: center;
}
.wit{
    background: rgb(15, 8, 36);
    color: white;
    text-align: center;
    border-radius: 16px;
}
.wit1{
    background: #4bc0c8ce;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.wit2{
    background: #c779d0d0;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.wit3{
    background: #feab5ed0;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.ft{
    align-items: center;
}
.ft h3
.ft li{
    
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
.ft a{
    color: rgb(221, 202, 202);
    font-size: 18px;
    text-decoration: none;
}
.autor h3{
    font-size: 14px;
    
    
}
.sitio h4, .sitio p{
    
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.espacio1{
    background-color: aqua;
    width: 100%;
    margin: 0;
}
.ft1{
    
    padding: 30px;
}
.ft1 li{
    
    text-decoration: none;
}